<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <link href="/landing-page.css" rel="stylesheet">
</head>

<body>
<% include ../partials/login-register-header %>
<div class="container-fluid about-container-top elegant-gradient-lu-rd">
    <div class="row px-lg-0 px-sm-5 px-0 pt-0 pt-lg-4">
        <div class="col-xl-6 col-lg-8 col-12 mx-auto mt-0 mt-lg-5 ">
            <h1 class="d-none d-md-block mt-5 text-center text-white">Informatica, pasul tău spre lumea Mecatronicii - InfoTRON</h1>
            <h3 class="d-block d-md-none mt-5 text-center text-white">Informatica, pasul tău spre lumea Mecatronicii - InfoTRON</h3>
            <p class="d-none d-md-block lead text-justify text-white">Platforma oficiala pentru sesiunile de instruire si concursuri. Proiect realizat in parteneriat cu <a href="https://www.miele.ro/">Miele Brasov</a>, <a href="https://www.siemens.com/ro/ro/home.html">Siemens Industry Software</a>, <a href="https://dpm.unitbv.ro/">Universitatea Transilvania din Brasov prin Facultatea de Design de Produs si Mediu</a>, <a href="http://www.isjbrasov.ro/">Inspectoratul Scolar Judetean Brasov</a></p>
            <p class="d-block d-md-none lead text-justify text-white">Platforma oficiala pentru sesiunile de instruire si concursuri. Proiect realizat in parteneriat cu <a href="https://www.miele.ro/">Miele Brasov</a>, <a href="https://www.siemens.com/ro/ro/home.html">Siemens Industry Software</a>, <a href="https://dpm.unitbv.ro/">Universitatea Transilvania din Brasov prin Facultatea de Design de Produs si Mediu</a>, <a href="http://www.isjbrasov.ro/">Inspectoratul Scolar Judetean Brasov</a></p>
        </div>
    </div>
    <!--<div class="row px-lg-0 px-sm-5 px-0 pt-0 pt-lg-1 pb-3 pb-lg-4">
        <div class="col-xl-6 col-lg-8 col-12 mx-auto mt-0 mt-lg-1 mb-3 mb-lg-4">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4">
                    <div class="card h-100 bg-transparent">
                        <div class="card-body">
                            <h2 class="card-title text-white">Projects</h2>
                            <p class="card-text text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
                                quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6  mb-4">
                    <div class="card h-100 bg-transparent">
                        <div class="card-body">
                            <h2 class="card-title text-white">Hackatons</h2>
                            <p class="card-text text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur
                                ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id
                                dolore voluptates quos eligendi labore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="row px-lg-0 px-5 pb-5">
        <div class="col-xl-6 col-lg-8 col-12 mx-auto mb-0 mb-lg-5 pb-5 pb-md-0" id="get_started_button">
            <!--<h1 class="d-none d-md-block my-5 pb-5 text-center text-white">Get Started!</h1>-->
            <!--<h3 class="d-block d-md-none my-5 pb-5 text-center text-white">Get Started!</h3>-->
            <div class="content mt-5 pb-5 pb-md-0">
                <svg id="more-arrows">
                    <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "></polygon>
                    <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "></polygon>
                    <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "></polygon>
                </svg>
            </div>
            <!--<button class="btn btn-block btn-lg btn-rounded get-started-button" id="get_started_button">Get Started</button>-->
        </div>
    </div>
</div>
<section class="container-fluid mt-5 pl-5 pr-5 pl-xl-3 pr-xl-3" id="getting_started_section">
    <h1 class="text-center" style="color: #2E2E2E;">Pentru participare</h1>
    <div class="row">
        <div class="col-12 col-xl-4 mb-4">
            <div class="card card-image mb-3 h-100 elegant-gradient-ld-ru">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100">
                    <div>
                        <h5 class="elegant-color-text">Primii pasi</h5>
                        <h3 class="card-title pt-2"><strong>Creaza un cont</strong></h3>
                        <p>Pentru a face parte din concurs este necesara inregistrare. Tine minte sa folosesti date reale.</p>
                        <a class="btn btn-pink get-started-button" href="/register"><i class="fas fa-user-plus"></i>&nbsp;Inregistrare</a>
                    </div>
                </div>
                <!-- Content -->
            </div>
        </div>
        <div class="col-12 col-xl-4 mb-4">
            <div class="card card-image mb-3 h-100 elegant-gradient-ld-ru">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100">
                    <div>
                        <h5 class="elegant-color-text">Primii pasi</h5>
                        <h3 class="card-title pt-2"><strong></strong></h3>
                        <p>Urmareste anunturile, orarul, documentatia si cere ajutor pe forum la nevoie.</p>
                        <a class="btn get-started-button" href="/login"><i class="fas fa-cogs"></i>&nbsp;Viziualizare...</a>
                    </div>
                </div>
                <!-- Content -->
            </div>
        </div>
        <div class="col-12 col-xl-4 mb-4">
            <div class="card card-image mb-3 h-100 elegant-gradient-ld-ru">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100">
                    <div>
                        <h5 class="elegant-color-text">Ce urmeaza</h5>
                        <h3 class="card-title pt-2"><strong>Participa</strong></h3>
                        <p class="text-center">Participa la concursul de ziua liceului Grigore Moisil impreuna cu colegii tai.</p>
                        <a class="btn get-started-button" href="/login"><i class="fas fa-cogs"></i>&nbsp;Viziualizare...</a>
                    </div>
                </div>
                <!-- Content -->
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer.ejs %>
<script>
    $(window).on("scroll load resize", function () {
        updateNavbar();
    });
    $("#get_started_button").on('click', () => {
        $('html,body').animate({
                scrollTop: $("#getting_started_section").offset().top - 50
            },
            800);
    });

    let updateNavbar = () => {
        let startY = $('.about-container-top').height() - 55;
        if ($(window).scrollTop() > startY) {
            $('nav').addClass("bg-dark").removeClass('bg-transparent').removeClass('no-shadow');
        } else {
            $('nav').addClass("bg-transparent").removeClass('bg-dark').addClass('no-shadow');
        }
    }
</script>
<script>
    let user = $.cookie('username');
    if (user) {
        $('#list').append('<li class="nav-item"><a class="nav-link" href="/anunturi">Anunturi <i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" href="/info">Ce inseamna InfoTRON<i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" href="/meca">De ce Mecatronica?<i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" href="/orar">Orar <i class="fas fa-user"></i></a></li><li class="nav-item"><a class="nav-link" href="/documente">Documente <i class="fas fa-user"></i></a></li><li class="nav-item"><a class="nav-link" href="/forum">Forum <i class="fas fa-user"></i></a></li><li class="nav-item"><a class="nav-link" href="/profile">Profile <i class="fas fa-cogs"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>');
    } else {
        $('#list').append('<li class="nav-item"><a class="nav-link" href="/anunturi">Anunturi <i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" href="/info">Ce inseamna InfoTRON<i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" href="/meca">De ce Mecatronica?<i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/register">Inregistrare <i class="fas fa-user-plus"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/login">Conectare <i class="fas fa-sign-in-alt"></i></a></li>');
    }
</script>
</body>

</html>
