<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <link href="/vendor/bootstrap-tagsinput/tagsinput.css" rel="stylesheet"/>

    <link href="/vendor/bootstrap-datepicker.standalone.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .toggled {
            background-color: #00A86B !important;
            color: white !important;
        }

        .toggled:hover {
            background-color: #00b875 !important;
            color: white !important;
        }
    </style>
</head>

<body>
<% include ../partials/header.ejs %>
<form>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron" style="margin-top: 10px;">
                    <h2><b>Anunt</b></h2>
                    <div class="form-group">
                        <label for="project Name">Titlu</label>
                        <input type="text" class="form-control" id="teamName" placeholder="titlu">
                    </div>
                    <hr class="my-4">
                    <div class="form-group">
                        <label for="comment">Descriere</label>
                        <small id="summarise" class="form-text text-muted"><i class="fas fa-info-circle mr-2"></i>Text Anunt</small>
                        <textarea class="form-control" rows="5" id="purpose"></textarea>
                    </div>
                </div>
                

                <div class="jumbotron" style="margin-top: 10px;">
                    <button class="btn btn-lg btn-block font-weight-bold" id="submit" type="button" style="font-size: 200%">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>
<% include ../partials/footer.ejs %>
<script src="/vendor/bootstrap-tagsinput/tagsinput.js"></script>
<% include ../partials/socket-notification.ejs %>
<script src="/vendor/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script>
    $('.date-range .input-daterange').datepicker({
        format: "dd/mm/yyyy",
        startDate: '-3d',
        clearBtn: true,
        autoclose: true,
        todayHighlight: true
    });
</script>
<script>
    $(function () {
        let tagsInput = $('.bootstrap-tagsinput > input')[0];
        $(tagsInput).on('change paste keyup', function () {
            $(tagsInput).val($(tagsInput).val().replace(/"/g, '\''));
        })
        $('.platform-toggle-button').on('click', function () {
            if ($(this).hasClass('toggled')) $(this).removeClass('toggled');
            else $(this).addClass('toggled');
        });
    })
    let socket = io.connect();
    $("#submit").on('click', function () {
        submitTeam();
    });

    function submitTeam() {

        let team = {
            name: document.getElementById('teamName').value,
            summary: document.getElementById('purpose').value,
            postedBy: $.cookie('username')
        }
        let isFormOk = true;
        if (team.name === '') {
            isFormOk = false;
            document.getElementById('teamName').style.borderColor = "red";
        } else {
            document.getElementById('teamName').style.borderColor = "green";
        }
        if (team.summary === '') {
            isFormOk = false;
            document.getElementById('purpose').style.borderColor = "red";
        } else {
            document.getElementById('purpose').style.borderColor = "green";
        }
        if (isFormOk)
            $.ajax({
                data: team,
                type: 'GET',
                url: '/anunturi/register',
                success: function (res) {
                    console.log(res.status);
                    if (res.status === 'successful')
                        window.location.href = '/anunturi';
                    else alert(res.status);
                }
            });
        //socket.emit('register team', team);
    }

    $("#form").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#submit").click();
        }
    });
</script>

</body>

</html>
