<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <style type="text/css">
        span.tags {
            background: #ffffff;
            border-radius: 2px;
            color: #000;
            font-weight: bold;
            padding: 2px 4px;
        }

        span.tags.teal {
            background: #1abc9c;
            color: #f5f5f5
        }
    </style>
</head>

<body>
<% include ../partials/dashboard-header.ejs %>
<div class="container" id="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron" style="margin-top: 10px;">
                <center>
                    <hr class="my-4">
                    <h2>MATERIALE PENTRU INSTRUIRE</h2>
                    <hr class="my-4">
                </center>
                <ol type="A">
                    <li>
                    Clasele 9-12
                    <ol>
                        
                                <li><span style="color:red">Kit-ul pe care se desfasoara sesiunile de instruire </span><a href="/materiale/A.1. Kit-ul pe care se desfasoara sesiunile de instruire.pdf"> kit </a></li>
                                <li><span style="color:red"> Documentatia aferenta kit-ului </span><a href="/materiale/A.1.2 Documentatia aferenta kit-ului.zip" download> materiale</a></li>
                        
                        <li><span style="color:red">Mediul de programare Arduino IDE pentru Windows</span><a href="/materiale/A.3.1 Mediul de programare Arduino IDE pentru Windows(elegoo).zip"> elegoo</a> sau <a href="/materiale/A.3.2 Mediul de programare Arduino IDE pentru Windows(arduino).zip"> Arduino </a></li>
                        <li>
                            <span style="color:red">Resurse alternative aferente unui kit asemanator </span><a href="/materiale/A.4. Resurse alternative aferente unui kit asemanator.zip"> download </a>
                        </li>
                    </ol>
                    </li>

                    <li>Clasele 5-8</li>
                    <ol>
                        <li>
                            <a href="/materiale/B.1. Kit-ul pe care se desfasoara sesiunile de instruire.pdf"><span style="color:red">Kit-ul pe care se desfasoara sesiunile de instruire </span></a>
                        </li>
                        <li>
                            <span style="color: red">Mediul de programare</span>  <a href="/materiale/B.2. Mediul de programare.exe"><span style="color: red">Mediul de programare</span></a>
                        </li>
                    </ol>
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
<% include ../partials/socket-notification.ejs %>

</body>

</html>
