<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <style type="text/css">
        span.tags {
            background: #ffffff;
            border-radius: 2px;
            color: #000;
            font-weight: bold;
            padding: 2px 4px;
        }

        span.tags.teal {
            background: #1abc9c;
            color: #f5f5f5
        }
    </style>
</head>

<body>
<% include ../partials/dashboard-header.ejs %>
<div class="container" id="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron" style="margin-top: 10px;">
                <center>
                    <hr class="my-4">
                    <h2>MATERIALE PENTRU INSTRUIRE</h2>
                    <hr class="my-4">
                </center>
                <ol type="A">
                    <li>
                    Clasele 9-12
                    <ol>
                        
                                <li><span style="color:red">Kit-ul pe care se desfasoara sesiunile de instruire </span><a href="https://www.optimusdigital.ro/ro/kituri-optimus-digital/5071-kit-uno-r3-super-starter.html">https://www.optimusdigital.ro/ro/kituri-optimus-digital/5071-kit-uno-r3-super-starter.html</a></li>
                                <li><span style="color:red"> Documentatia aferenta kit-ului </span><a href="https://wetransfer.com/downloads/5df9eec095bfb1269cfbc22078c56cb920181111195621/bcc09f58ec5ef9100cc876065cc308d320181111195621/e2081a">https://wetransfer.com/downloads/5df9eec095bfb1269cfbc22078c56cb920181111195621/bcc09f58ec5ef9100cc876065cc308d320181111195621/e2081a</a></li>
                        
                        <li><span style="color:red">Mediul de programare Arduino IDE pentru Windows</span><a href="https://www.elegoo.com/tutorial/Arduino%20IDE%201.8.7%20for%20Windows.zip">https://www.elegoo.com/tutorial/Arduino%20IDE%201.8.7%20for%20Windows.zip</a> sau <a href="https://www.arduino.cc/download_handler.php?f=/arduino-1.8.7-windows.zip">https://www.arduino.cc/download_handler.php?f=/arduino-1.8.7-windows.zip</a></li>
                        <li>
                            <span style="color:red">Resurse alternative aferente unui kit asemanator </span><a href="https://www.elegoo.com/tutorial/Elegoo%20Super%20Starter%20Kit%20for%20UNO%20V1.0.2018.10.25.zip">https://www.elegoo.com/tutorial/Elegoo%20Super%20Starter%20Kit%20for%20UNO%20V1.0.2018.10.25.zip</a>
                        </li>
                    </ol>
                    </li>

                    <li>Clasele 5-8</li>
                    <ol>
                        <li>
                            <span style="color:red">Kit-ul pe care se desfasoara sesiunile de instruire </span><a href="https://education.lego.com/en-us/products/lego-mindstorms-education-ev3-core-set-/5003400">https://education.lego.com/en-us/products/lego-mindstorms-education-ev3-core-set-/5003400</a>
                        </li>
                        <li>
                            <span style="color: red">Mediul de programare</span>  <a href="https://education.lego.com/en-us/downloads/mindstorms-ev3/software">https://education.lego.com/en-us/downloads/mindstorms-ev3/software</a>
                        </li>
                    </ol>
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
<% include ../partials/socket-notification.ejs %>

</body>

</html>
