<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <style type="text/css">
        span.tags {
            background: #ffffff;
            border-radius: 2px;
            color: #000;
            font-weight: bold;
            padding: 2px 4px;
        }

        span.tags.teal {
            background: #1abc9c;
            color: #f5f5f5
        }
    </style>
</head>

<body>
<% if(!email){ %>
<% include ../partials/dashboard-header.ejs %>
<% } else { %>
<% include ../partials/header.ejs %>
<% } %>
<div class="container" id="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron" style="margin-top: 10px;">
                
                    <h2>De ce <span style="color: red">MECATRONICA</span>?</h2>
                    <hr class="my-4">
                    <h2><span style="color: red">MECATRONICA</span> = <span style="color: red">MECA</span>nica + elec<span style="color: red">TRON</span>ica + informat<span style="color: red">ICA</span></h2>
                    <hr class="my-4">
                    <ul>
                        <li>Orice sistem care are în componență părți <span style="font-weight: bold;">MECANICE, ELECTRONICE</span> și o parte de <span style="font-weight: bold;">SOFTWARE</span> reprezintă un <span style="color: red; font-weight: bold;">SISTEM MECATRONIC.</span></li>
                        <li>Un bun mecatronist știe să combine cu succes cunoștințele din domeniile <span style="color: red">informaticii, electronicii și mecanicii</span> în scopul conceperii, proiectării, realizării și implementării de sisteme mecatronice, de la cele simple până la cele avansate.</li>
                        <li>Sistemele mecatronice sunt elemente de bază ale realității actuale care deschid drumul către lumea de mâine.</li>
                        <li>Cei mai cunoscute tipuri de sisteme mecatronice sunt următoarele: AUTOMOBILE, ROBOȚI, DRONE, SMARTPHONE-URI, CAMERE FOTO ȘI VIDEO, APARATURĂ MEDICALĂ, AERONAVE, LINII DE FABRICAȚIE AUTOMATIZATE, SISTEME INTELIGENTE DE COMANDĂ ȘI CONTROL DIN DOMENIILE INDUSTRIAL, MEDICAL, MILITAR ETC.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>      

<% include ../partials/footer.ejs %>
<% include ../partials/socket-notification.ejs %>
<script>
    $('#city').empty();
    $('#searchTerm').keypress(function (e) {
        if (e.which == 13) {
            window.location.href = '/anunturi/' + $("input").val();
        }
    });
    $('#searchBtn').click(function () {
        window.location.href = '/anunturi/' + $("input").val();
    });

</script>

</body>

</html>
